@tailwind base;
@tailwind components;
@tailwind utilities;

body{ background: linear-gradient(to right, #FFD700, #87CEEB, #FF69B4);
    animation: gradientAnimation 10s ease infinite;
}
    @keyframes gradientAnimation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }